# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
**/node_modules/

venv/
**/venv/
.env/
**/.env/
.env*/
**/.env*/
backend/venv/

**/trainModel/*

# Optional: User-specific files
.npmrc
.npm/
yarn-error.log

# Optional: Mac OS
.DS_Store

# Optional: Windows
Thumbs.db
desktop.ini

# Optional: JetBrains IDE
.idea/

# Optional: Visual Studio Code
.vscode/

**/office.pem
**/office.pub

**/landmark_classifier* 

__pycache__/
*.py[cod]